################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EventEase/.vs
/EventEase/EventEase/bin/Debug/net9.0
/EventEase/EventEase/obj
/UserManagementAPI/.vs
/UserManagementAPI/UserManagementAPI/bin/Debug/net9.0
/UserManagementAPI/UserManagementAPI/obj
/InventoryHub/.vs/InventoryHub
/InventoryHub/InventoryHub/bin/Debug/net9.0
/InventoryHub/InventoryHub/obj
/InventoryHub/InventoryHub.Api/bin/Debug/net9.0
/InventoryHub/InventoryHub.Api/obj
/InventoryHub/.vs/ProjectEvaluation
/InventoryHub2/.vs/InventoryHub2
/InventoryHub2/InventoryHub2/bin/Debug/net9.0
/InventoryHub2/InventoryHub2/obj
/InventoryHub2/.vs/ProjectEvaluation
/UserAuthInMemoryApp/.vs/UserAuthInMemoryApp
/UserAuthInMemoryApp/bin/Debug/net9.0
/UserAuthInMemoryApp/obj
/JwtAuthDemo/.vs/JwtAuthDemo
/JwtAuthDemo/JwtAuthDemo/bin/Debug/net9.0
/JwtAuthDemo/JwtAuthDemo/obj
/RoleAndClaims/.vs
/RoleAndClaims/RoleAndClaims/bin/Debug/net9.0
/RoleAndClaims/RoleAndClaims/obj
/SafeVault/.vs/SafeVault
/JwtAuthDemo/.vs/ProjectEvaluation
/SafeVault/SafeVault/obj
/UserAuthInMemoryApp/.vs/ProjectEvaluation
/SafeVault/SafeVault/bin/Debug/net9.0
/OrderManagementSystem/.vs/OrderManagementSystem
/OrderManagementSystem/LogiTrack.Api/bin/Debug/net9.0
/OrderManagementSystem/LogiTrack.Api/obj
/TaskAssignmentSystem/.vs
/TaskAssignmentSystem/DataSturctureAndAlgo/obj
/SafeVault/.vs/ProjectEvaluation
/TaskAssignmentSystem
/OrderManagementSystem/.vs/ProjectEvaluation
/SkillSnap/.vs/SkillSnap
/SkillSnap/.vs/SkillSnap/CopilotIndices/17.13.439.2385/CodeChunks.db
/SkillSnap/obj
