################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EventEase/.vs
/EventEase/EventEase/bin/Debug/net9.0
/EventEase/EventEase/obj
/UserManagementAPI/.vs
/UserManagementAPI/UserManagementAPI/bin/Debug/net9.0
/UserManagementAPI/UserManagementAPI/obj
/InventoryHub/.vs/InventoryHub
/InventoryHub/InventoryHub/bin/Debug/net9.0
/InventoryHub/InventoryHub/obj
/InventoryHub/InventoryHub.Api/bin/Debug/net9.0
/InventoryHub/InventoryHub.Api/obj
/InventoryHub/.vs/ProjectEvaluation
/InventoryHub2/.vs/InventoryHub2
/InventoryHub2/InventoryHub2/bin/Debug/net9.0
/InventoryHub2/InventoryHub2/obj
