
@using SkillSnap.Client.Models
@using SkillSnap.Client.Services

@inject ProjectService ProjectService

@code {
  private List<Project> Projects;
  protected override async Task OnInitializedAsync() {
    Projects = await ProjectService.GetProjectsAsync();
  }
}

@foreach(var project in Projects) {
  <div class="project-item">
    <h3>@project.Title</h3>
    <p>@project.Description</p>
  </div>
}